<div class="card mb-4 box-shadow">
    <div class="card-body">
        <label>Model</label>
        <ng-select placeholder="Model">
            <ng-option [value]="audi">Audi</ng-option>
            <ng-option [value]="bmw">BMW</ng-option>
            <ng-option [value]="pegeot">Pegeot</ng-option>
        </ng-select>
        <hr />
        <label>Fuel</label>
        <ng-select placeholder="Fuel">
            <ng-option [value]="audi">Patrol</ng-option>
            <ng-option [value]="bmw">Diesel</ng-option>
            <ng-option [value]="pegeot">Electric</ng-option>
        </ng-select>
    </div>
</div>
