<h1>
    Job form
</h1>

<md-card class="job-form-card">
    <form [formGroup]="jobForm">

        <md-input-container>
            <input mdInput formControlName="title" placeholder="Title">
        </md-input-container>

        <md-input-container>
            <textarea mdInput formControlName="body" placeholder="Body"></textarea>
        </md-input-container>

        <div>
            <button md-raised-button color="primary" (click)="saveForm()">Save</button>
        </div>
    </form>
</md-card>
