<div class="container">
    <h1 *ngIf="!ad">
        Create ad
    </h1>
    <h1 *ngIf="ad">
        Update ad {{ad.title}}
    </h1>

    <md-card class="ad-form-card">
        <form [formGroup]="adForm">

            <md-input-container>
                <input mdInput formControlName="title" placeholder="Title">
                <md-error>Title is required</md-error>
            </md-input-container>

            <md-input-container>
                <textarea class="body-input" mdInput formControlName="body" placeholder="Body"></textarea>
                <md-error>Body is required</md-error>
            </md-input-container>
        </form>
        <md-card-actions>
            <button md-raised-button color="accent" (click)="saveForm()">Save</button>
        </md-card-actions>
    </md-card>

</div>
