<div class="container">
    <div class="card mx-auto w-75 ad-card">
        <div class="card-header">
            <span *ngIf="!ad">
                Create ad
            </span>
            <span *ngIf="ad">
                Update ad {{ad.title}}
            </span>
        </div>
        <div class="card-block">
            <form [formGroup]="adForm">
                <div class="form-group">
                    <label class="form-control-label" for="title">Title</label>
                    <input type="text" class="form-control" formControlName="title" id="title" placeholder="Enter Ad title">
                    <div *ngIf="adForm.controls.title.invalid && adForm.controls.title.touched" class="form-control-feedback">Title is required</div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="body">Body</label>
                    <textarea class="form-control" formControlName="body" id="body" placeholder="Enter Ad Body"></textarea>
                    <div *ngIf="adForm.controls.body.invalid && adForm.controls.body.touched" class="form-control-feedback">Body is required</div>
                </div>
                <button class="btn btn-success" (click)="saveForm()">Save</button>
            </form>
        </div>
    </div>
</div>