@import "~bootstrap/scss/bootstrap";
html {
    position: relative;
    height: 100%;
}
body {
    background-color: #e9ebee;
    padding-top: 3.5rem;
    height: 100%;

    main.container {
        padding: 60px 15px 0;
    }
}

.fill {
    height: 100%;
}
