@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
    background: #ffffff;
}

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

app-admin {
    display: block;
    height: 100%;
}

.ngx-datatable.material {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    &.single-selection .datatable-body-row.active {
        .datatable-row-group {
            background-color: #17a2b8;
        }

        &:hover {
            .datatable-row-group {
                background-color: #17a2b8;
            }
        }

        .datatable-body-cell {
            color: #ffffff;
        }
    }
}

