@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
html {
    position: relative;
    height: 100%;
}
body {
    background-color: #e9ebee;
    height: 100%;
}
