<div class="container">
    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px">
        <div fxFlex="20">
            <md-nav-list>
                <a md-list-item href="...">Category 1</a>
                <a md-list-item href="...">Category 2</a>
                <a md-list-item href="...">Category 3</a>
                <a md-list-item href="...">Category 4</a>
            </md-nav-list>
        </div>
        <div fxFlex>
            <md-card class="ad-card" *ngFor="let ad of ads">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title><a routerLink="/ad/{{ad._id}}">{{ad.title}}</a></md-card-title>
                    <md-card-subtitle>Vilnius</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <md-chip-list>
                        <md-chip>C#</md-chip>
                        <md-chip>.NET</md-chip>
                        <md-chip>Visual Studio</md-chip>
                    </md-chip-list>
                </md-card-content>
            </md-card>
        </div>

    </div>
</div>
