.nav-link {
  cursor:pointer;
}

.ad-card {
    margin-bottom: 15px;
}

.example-header-image {
  background-image: url('https://cvbankas-img.dgn.lt/companylogo_2_1101/pixelmator-team.jpg');
  background-size: cover;
}
