section {
    display: block;
    background: url('https://firebasestorage.googleapis.com/v0/b/adifyapp.appspot.com/o/assets%2Fpexels-photo-229014.jpg?alt=media') no-repeat center;
    margin-bottom: 0;
}

.filter-form {
    max-width: 700px;
    margin: auto;
}
