<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 mx-auto">
            <div class="card login-card">
                <div class="card-header">Log In</div>
                <div class="card-block">
                    <a class="btn btn-facebook" href="{{authBaseUrl}}/auth/facebook">
            <i class="fa fa-facebook"></i> Log In with Facebook
        </a>
                    <a class="btn btn-linkedin" href="{{authBaseUrl}}/auth/linkedin">
            <i class="fa fa-linkedin"></i> Log In with Linkedin
         </a>
                    <a class="btn btn-google" href="{{authBaseUrl}}/auth/google">
            <i class="fa fa-google"></i> Log In with Google
        </a>
                </div>
            </div>

        </div>
    </div>
</div>
