<md-toolbar color="primary" class="main-toolbar">
    <div>
        <a class="logo" routerLink="/">Title</a>
    </div>
    <div class="toolbar-menu">
        <!-- Show this for logged out users -->
        <ul *showAuthed="false">
            <li>
                <a md-button class="nav-link" routerLink="/login" routerLinkActive="active">Log In</a>
            </li>
        </ul>

        <div *showAuthed="true">
            <a md-button class="nav-link" routerLink="/ad/create" routerLinkActive="active">
                <i class="fa fa-plus" aria-hidden="true"></i> New Ad
            </a>

            <md-menu #appMenu="mdMenu">
                <button md-menu-item (click)="logout()"><i class="fa fa-sign-out"></i> Log Out</button>
            </md-menu>

            <button md-button [mdMenuTriggerFor]="appMenu">
                <img [src]="currentUser.photo" *ngIf="currentUser.photo" class="user-photo" /> {{ currentUser.displayName }}
            </button>

        </div>
    </div>
</md-toolbar>
