<div class="container">
    <div class="card mx-auto w-50 login-card">
        <div class="card-header">Log In</div>
        <div class="card-block">
            <a class="btn btn-facebook" href="http://localhost:8000/auth/facebook">
            <i class="fa fa-facebook"></i> Log In with Facebook
        </a>
            <a class="btn btn-linkedin" href="http://localhost:8000/auth/linkedin">
            <i class="fa fa-linkedin"></i> Log In with Linkedin
         </a>
            <a class="btn btn-google" href="http://localhost:8000/auth/google">
            <i class="fa fa-google"></i> Log In with Google
        </a>
        </div>
    </div>
</div>
