.login-card {

    a {
        display: block;
        margin-bottom: 15px;
        color: #fff;
    }

    .btn-facebook {
        background-color: #3b5998 !important;
    }

    .btn-google {
        background-color: #dd4b39;
    }

    .btn-linkedin {
        background-color: #007bb6;
    }
}
