<div class="page-header">
    <div class="container">
        <h1>Login</h1>
    </div>
</div>
<div class="container">
    <div class="login-card">
        <a class="btn-facebook" md-raised-button href="http://localhost:8000/auth/facebook">
            <i class="fa fa-facebook"></i> Login with Facebook
        </a>
        <a class="btn-linkedin" md-raised-button href="http://localhost:8000/auth/linkedin">
            <i class="fa fa-linkedin"></i> Login with Linkedin
         </a>
        <a class="btn-google" md-raised-button href="http://localhost:8000/auth/google">
            <i class="fa fa-google"></i> Login with Google
        </a>
    </div>
</div>
