<form [formGroup]="reactiveForm" novalidate>
    <div class="form-group" *ngFor="let field of form.fields; let i=index">
        <label for="field-{{i}}">{{field.name}}</label>
        <ng-container [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'text'">
                    <input id="field-{{i}}" class="form-control" type="text" [formControlName]="field.prop" />
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
                <ng-select [formControlName]="field.prop"
                    [bindLabel]="field.dataSource.bindLabel"
                    [bindValue]="field.dataSource.bindValue"
                    [items]="field.dataSource.data | async">
                </ng-select>
            </ng-container>
        </ng-container>
    </div>

    <div>
        <button (click)="saveForm()" class="btn btn-primary">Save</button>
    </div>
</form>
