<div class="card">
    <div class="card-block">
        <form>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="Search for...">
            </div>
        </form>
    </div>
    <ul class="list-unstyled list-group list-group-flush">
        <li class="list-group-item media" *ngFor="let ad of ads">
            <img class="d-flex mr-3 logo">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a routerLink="/ad/{{ad._id}}">{{ad.title}}</a>
                </h5>
                Vilnius
            </div>
        </li>
    </ul>
</div>
