<div class="card">
    <div class="card-block">
        <form class="row">
            <div class="col-12 col-md-6 search-input-group">
                <input type="text" [formControl]="searchInput" class="form-control" placeholder="Search for...">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="col-12 col-md-3 my-2 my-md-0">
                <select class="form-control">
                    <option>City</option>
                    <option *ngFor="let city of cities">{{city}}</option>
                </select>
            </div>
            <div class="col-12 col-md-3">
                <select class="form-control">
                    <option>Category</option>
                    <option *ngFor="let city of cities">{{city}}</option>
                </select>
            </div>
        </form>
    </div>
    <div *ngIf="ads.length === 0" class="card-block">
        No records
    </div>
    <ul class="list-unstyled list-group list-group-flush">
        <li class="list-group-item media" *ngFor="let ad of ads">
            <img class="d-flex mr-3" src="https://placeimg.com/64/64/any?rand={{ad._id}}" alt="Random image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a routerLink="/ad/{{ad._id}}">{{ad.title}}</a>
                </h5>
                Vilnius
                <div class="actions-list mt-2" *ngIf="ad.userId === user._id">
                    <a class="btn btn-sm btn-success" routerLink="/ad/{{ad._id}}/edit"><i class="fa fa-pencil"> Edit</i></a>
                    <button class="btn btn-sm btn-success" (click)="deleteAd(ad)"><i class="fa fa-trash"> Delete</i></button>
                </div>

            </div>
        </li>
    </ul>
    <div class="card-footer border-top-0">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
